    
<ons-page id="detail-page" ng-controller="DetailController" style="background: #28292a;">
    <ons-toolbar class="toolbar" fixed-style="">
        <div class="left"><ons-back-button>{{ back_button }}</ons-back-button></div>
        <div class="center">
            {{ pageTitle }}<span style="font-weight: 300; font-size: 13px;" ng-if="pageTitle.indexOf('CD')==-1 && (detail=='album' || detail=='artist')"> { {{ musics.length }} }</span>
        </div>
        <div class="right">
            <img src="images/loading.gif" style="width: 15px; margin-bottom: -4px;" ng-if="detail=='download' && isDownloading" />
            <ons-toolbar-button ng-click="onMusicPlay();" ng-if="detail!=='mv' && detail!=='connect'">
                <span class="icon-color">Play</span>
            </ons-toolbar-button>
            <ons-toolbar-button ng-click="onPlayMVClick();" ng-if="detail==='mv'">
                <span class="icon-color">Play</span>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <ons-bottom-toolbar class="toolbar">
        <div class="navigation-bar toolbar-color" ng-show="(detail==='album' && pageTitle.indexOf('CD')===-1) || (detail==='artist' && pageTitle.indexOf('CD')===-1)">
            <div class="navigation-bar__center">
                <!-- segment control -->
                <div class="button-bar segment-production">
                        <div class="button-bar__item" ng-click="onMusicSortBy('title')">
                            <input type="radio" name="navi-segment-a" checked>
                            <div class="button-bar__button">ចំណងជើង</div>
                        </div>
                        <div class="button-bar__item" ng-click="onMusicSortBy('title_en')">
                            <input type="radio" name="navi-segment-a">
                            <div class="button-bar__button">អក្ខរក្រម</div>
                        </div>
                        <div class="button-bar__item" ng-click="onMusicSortBy('album')">
                            <input type="radio" name="navi-segment-a">
                            <div class="button-bar__button">អាល់ប៊ុម</div>
                        </div>
                        <div class="button-bar__item" ng-click="onMusicSortBy('view')">
                            <input type="radio" name="navi-segment-a">
                            <div class="button-bar__button">និយមស្ដាប់</div>
                        </div>
                </div>
            </div>
        </div>
        <div ng-show="detail=='mv' || detail=='connect' || detail=='profile' || detail.indexOf('playlist')>-1 || detail=='download' || pageTitle.indexOf('CD')>-1">
                <ons-list style="border-top: none; background: #57595b;" ng-if="!showPlayer">
                    <ons-list-item style="margin-top: -4px;">
                        <ons-row class="action">
                            <ons-col class="action-col" ng-click="onAppleClick()">
                              <div class="action-icon"><img src="images/apple.png" style="height: 33px;" /></div>
                            </ons-col>
                            <ons-col class="action-col" ng-click="onFacebookClick()">
                              <div class="action-icon"><img src="images/facebook.png" style="height: 33px;" /></div>
                            </ons-col>
                            <ons-col class="action-col" ng-click="onGoogleClick()">
                              <div class="action-icon"><img src="images/google.png" style="height: 33px;" /></div>
                            </ons-col>
                        </ons-row>
                    </ons-list-item>        
                </ons-list>
                <div style="text-align: center; line-height: 44px;" ng-if="showPlayer">
                    <ons-toolbar-button modifier="quiet" ng-click="onFavoriteClick()" class="button-player">
                        <i class="fa fa-heart-o" style="font-size: 25px;" ng-if="!isHearting"></i>
                        <img ng-src="images/loading.gif" style="width: 25px; margin-bottom: -2px;" ng-if="isHearting"></img>
                    </ons-toolbar-button>
                    <ons-toolbar-button modifier="quiet" ng-click="onPlayPrevious()" class="button-player">
                        <i class="fa fa-backward" style="font-size: 25px;"></i>
                    </ons-toolbar-button>
                    <ons-toolbar-button modifier="quiet" class="button-player" ng-if="isStarting">
                        <i class="fa fa-circle-o-notch fa-spin" style="font-size: 21px;"></i>
                    </ons-toolbar-button>
                    <span ng-show="player.playing">
                        <ons-toolbar-button modifier="quiet" ng-click="player.pause()" class="button-player" ng-if="!isStarting">
                            <i class="fa fa-pause" style="font-size: 25px;"></i>
                        </ons-toolbar-button>
                    </span>
                    <span ng-show="!player.playing">
                        <ons-toolbar-button modifier="quiet" ng-click="player.play()" class="button-player" ng-if="!isStarting">
                            <i class="fa fa-play" style="font-size: 27px;"></i>
                        </ons-toolbar-button>
                    </span>
                    <ons-toolbar-button modifier="quiet" ng-click="onPlayNext()" class="button-player">
                        <i class="fa fa-forward" style="font-size: 25px;"></i>
                    </ons-toolbar-button>
                    <ons-toolbar-button modifier="quiet" ng-click="onDownloadClick()" class="button-player" ng-if="showTV">
                        <i class="fa fa-cloud-download" style="font-size: 25px;"></i>
                    </ons-toolbar-button>
                    <ons-toolbar-button modifier="quiet" class="button-player" ng-if="!showTV">
                        <i class="fa fa-wifi" style="font-size: 25px;"></i>
                    </ons-toolbar-button>
                </div>
        </div>
    </ons-bottom-toolbar>

    <!-- Music by MV -->
    <div ng-if="detail==='mv'">
        <div class="info" ng-if="isLoading">
            <img src="images/loading.gif" class="loading" />
        </div>
        <ons-list ng-if="!isLoading && showNoItem">
            <ons-list-item>
                <div class="info">
                    No MV Available.
                </div>
            </ons-list-item>
        </ons-list>
        <ons-list class="ons-list" ng-if="!isLoading && musics.length > 0">
            <ons-list-item modifier="tappable" class="list-music" ng-repeat="item in musics" ng-click="onMVPlaySelect(item);">
                <ons-row>
                    <ons-col width="25px">
                        <div class="music-num">
                            {{ $index + 1 }}
                        </div>
                    </ons-col>
                    <ons-col width="85px">
                        <img ng-src="{{mvPath}}/{{item.album}}/{{item.thumb}}" class="list-mv-thum" ng-if="item.type==='video/mp4'"></img>
                        <img ng-src="http://img.youtube.com/vi/{{item.type}}/0.jpg" class="list-mv-thum-tube" ng-if="item.type!=='video/mp4'"></img>
                    </ons-col>
                    <ons-col>
                        <div class="music-title">
                            {{ item.title }}
                        </div>
                        <div class="music-desc">
                            {{ item.artist }}
                        </div>
                        <div class="music-album">
                            <i class="fa fa-qrcode live-color" style="font-size: 11px;"></i> {{ item.album }}
                            <span style="float: right;">
                                <i class="fa fa-video-camera live-color" style="font-size: 11px; opacity: 0.7;"></i> {{ formatNumber(item.view) }}
                            </span>
                        </div>
                    </ons-col>
                    <ons-button modifier="quiet" class="button-action">
                        <i class="fa fa-play-circle-o live-color button-action-icon"></i>
                    </ons-button>
                </ons-row>
            </ons-list-item>
        </ons-list>
    </div>
    
    <!-- Music by Album, Artist, Playlist -->
    <div ng-if="detail==='album' || detail==='artist' || detail==='playlist' || detail==='playlist_offline' || detail==='download' || detail==='profile'">
        <div class="info" ng-if="isLoading">
            <img src="images/loading.gif" class="loading" />
        </div>
        <div style="text-align: center;" ng-if="!isLoading && !showNoItem && detail==='download'">
            <section class="toolbar-color music">
                <input type="search" class="search-input" placeholder="Search for downloaded music..." ng-model="musicQuery" ng-change="onSearchDownload(musicQuery)">
            </section>
        </div>
        <ons-list ng-if="!isLoading && showNoItem">
            <ons-list-item>
                <div class="info">
                    No Music Available.
                </div>
            </ons-list-item>
        </ons-list>
        <ons-list class="ons-list" ng-if="!isLoading && musics.length > 0">
            <ons-list-item modifier="tappable" class="list-music" ng-repeat="item in musics | limitTo: limitToMusic">
                <ons-row>
                    <ons-col width="25px" ng-click="onMusicSelect(item, $index);">
                        <div class="music-num">
                            <span ng-show="{{item.id}}!==musicNow.id">{{ $index + 1 }}</span>
                            <span ng-show="{{item.id}}===musicNow.id">
                                <span ng-show="!player.playing"><i class="fa fa-play play-color" style="font-size: 15px;"></i></span>
                                <span ng-show="player.playing"><img src="images/bars.gif" alt="" /></span>
                            </span>
                        </div>
                    </ons-col>
                    <ons-col width="75px" ng-click="onMusicSelect(item, $index);">
                        <img ng-src="{{musicPath}}/{{item.album}}/{{item.thumb}}" class="list-music-thum" ng-if="isOnline"></img>
                        <img ng-src="images/offline.jpg" class="list-music-thum" ng-if="!isOnline"></img>
                    </ons-col>
                    <ons-col ng-click="onMusicSelect(item, $index);">
                        <div class="music-title">
                            {{ item.title }}
                        </div>
                        <div class="music-desc">
                            {{ item.artist }}
                        </div>
                        <div class="music-album">
                            <i class="fa fa-qrcode live-color" style="font-size: 11px;"></i> {{ item.album }}
                            <span style="float: right;" ng-if="detail!=='playlist_offline' && detail!=='download'">
                                <i class="fa fa-heart-o live-color" style="font-size: 11px;"></i> {{ formatNumber(item.liked) }}
                                &nbsp; <i class="fa fa-ellipsis-v live-color" style="font-size: 10px;"></i> &nbsp;
                                <i class="fa fa-headphones live-color" style="font-size: 11px;"></i> {{ formatNumber(item.view) }}
                            </span>
                            <span style="float: right;" ng-if="detail==='playlist_offline' || detail==='download'">
                                <i class="fa fa-cloud-download live-color" style="font-size: 11px;"></i> {{ formatFileSize(item.size) }}
                            </span>
                        </div>
                    </ons-col>
                    <ons-button modifier="quiet" class="button-action" ng-click="onButtonClick(item, $index);">
                        <i class="fa fa-navicon live-color button-action-icon"></i>
                    </ons-button>
                </ons-row>
            </ons-list-item>
            <ons-list-item modifier="tappable" class="list-music" ng-click="onLoadMusicClick();" ng-if="musics.length > 0 && musics.length > limitToMusic">
                <ons-row>
                    <ons-col width="25px">
                        <div class="music-num">
                            {{ limitToMusic + 1 }}
                        </div>
                    </ons-col>
                    <ons-col width="75px">
                        <img ng-src="images/more.jpg" class="list-music-thum" style="opacity: 0.2;" />
                    </ons-col>
                    <ons-col>
                        <div class="music-title">
                            Load more music...
                        </div>
                        <div class="music-desc">
                            Click here to see more music...
                        </div>
                    </ons-col>
                </ons-row>
            </ons-list-item>
        </ons-list>
    </div>
        
    <!-- Music Connect -->
    <div ng-if="detail==='connect'">
        <div class="info" ng-if="isLoading">
            <img src="images/loading.gif" class="loading" />
        </div>
        
        <ons-list class="ons-list connect-list" style="background: #28292a;" ng-if="!isLoading && musics.length>0">
            <ons-list-item class="connect" ng-repeat="item in musics">
                <ons-row>
                <ons-col width="85px" class="connect-left">
                    <img ng-src="{{ item.image_l }}" class="connect-thum" ng-if="item.image_l.length > 0"></img>
                    <img ng-src="images/user.png" class="connect-thum" ng-if="item.image_l.length == 0"></img>
                </ons-col>
                <ons-col width="2px" class="connect-center" ng-style="{backgroundColor:$index % 2 !== 1 ? '#3399ff' : '#ccc'}">
                </ons-col>
                <ons-col class="connect-right">
                    <div class="connect-name">{{ item.title }}</div>
                    <div class="connect-info">{{ item.album }} - {{ item.artist }}</div>
                    <div class="connect-date">{{ item.history_date | date : 'MMMM dd, yyyy' }}</div>
                </ons-col>
            </ons-row>
            </ons-list-item>
        </ons-list>
    </div>
        
</ons-page>