
<ons-modal var="modal">
    <i class="fa fa-spinner fa-spin fa-pulse" style="font-size: 28px;"></i>
    <br><br>
    Please wait ...
</ons-modal>

    <ons-page id="watch-page" ng-controller="WatchController" style="background: #28292a">
        <ons-toolbar class="toolbar" fixed-style="">
            <div class="center">
                <div class="navigation-bar toolbar-color">
                    <div class="navigation-bar__center">
                        <div class="button-bar segment">
                            <div class="button-bar__item" ng-click="onTopClick()">
                                <input type="radio" name="navi-segment-a">
                                <div class="button-bar__button">Top</div>
                            </div>
                            <div class="button-bar__item" ng-click="onNewClick()">
                                <input type="radio" name="navi-segment-a" checked>
                                <div class="button-bar__button">New</div>
                            </div>
                            <div class="button-bar__item" ng-click="onMVClick()">
                                <input type="radio" name="navi-segment-a">
                                <div class="button-bar__button">MV</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="left">
                <ons-toolbar-button ng-click="onProfileClick();">
                    <ons-icon icon="navicon" class="icon-color"></ons-icon>
                </ons-toolbar-button>
            </div>
            <div class="right">
                <ons-toolbar-button ng-click="onPlaylistClick();" disabled ng-if="!showPlayer">
                    <ons-icon icon="music" class="icon-color"></ons-icon>
                </ons-toolbar-button>
                <ons-toolbar-button ng-click="onPlaylistClick();" ng-if="showPlayer">
                    <ons-icon icon="music" class="icon-color"></ons-icon>
                </ons-toolbar-button>
            </div>
        </ons-toolbar>
        
        <div class="wrapper" style="margin-bottom: 5px;">
            <div class="container">
                <ul class="grid-na rig columns-5">
                    <li ng-repeat="item in musicOptions">
                        <ons-button modifier="quiet" ng-click="onOptionSelect(item, $index);" style="margin: -3px 0 -10px 0;">
                            <span ng-if="$index !== 3">
                                <ons-icon icon="{{item.icon}}" class="live-color icon-action"></ons-icon><br />
                            </span>
                            <span ng-if="$index === 3">
                                <span ng-if="!isDownloading">
                                    <ons-icon icon="{{item.icon}}" class="live-color icon-action"></ons-icon><br />
                                </span>
                                <span ng-if="isDownloading">
                                    <img src="images/loading.gif" style="width: 28px; margin-bottom: -8px;" /><br />
                                </span>
                            </span>
                            <span class="classify-item" style="width: 100%; text-align: center;">{{item.desc}}</span>
                        </ons-button>
                	</li>
        		</ul>
            </div>
        </div>
        
        <div ng-if="choice===1">
            <div class="info" ng-if="isLoading">
                <img src="images/loading.gif" class="loading" />
            </div>
            <ons-list ng-if="!isLoading && showNoItem">
                <ons-list-item>
                    <div class="info">
                        <span>No MV Available.</span>
                    </div>
                </ons-list-item>
            </ons-list>
            <ons-list class="ons-list" ng-if="!isLoading && videos_top.length > 0">
                <ons-list-item modifier="tappable" class="list-music" ng-repeat="item in videos_top" ng-click="onMVPlaySelect(item);">
                    <ons-row>
                        <ons-col width="25px">
                            <div class="music-num">
                                {{ $index + 1 }}
                            </div>
                        </ons-col>
                        <ons-col width="85px">
                            <img ng-src="{{mvPath}}/{{item.album}}/{{item.thumb}}" class="list-mv-thum" ng-if="item.type==='video/mp4'"></img>
                            <img ng-src="http://img.youtube.com/vi/{{item.type}}/0.jpg" class="list-mv-thum-tube" ng-if="item.type!=='video/mp4'"></img>
                        </ons-col>
                        <ons-col>
                            <div class="music-title">
                                {{ item.title }}
                            </div>
                            <div class="music-desc">
                                {{ item.artist }}
                            </div>
                            <div class="music-album">
                                <i class="fa fa-qrcode live-color" style="font-size: 11px;"></i> {{ item.album }}
                                <span style="float: right;">
                                    <i class="fa fa-video-camera live-color" style="font-size: 11px; opacity: 0.7;"></i> {{ formatNumber(item.view) }}
                                </span>
                            </div>
                        </ons-col>
                        <ons-button modifier="quiet" class="button-action">
                            <i class="fa fa-play-circle-o live-color button-action-icon"></i>
                        </ons-button>
                    </ons-row>
                </ons-list-item>
            </ons-list>
        </div>
        
        <div ng-if="choice===2">
            <div class="info" ng-if="isLoading">
                <img src="images/loading.gif" class="loading" />
            </div>
            <ons-list ng-if="!isLoading && showNoItem">
                <ons-list-item>
                    <div class="info">
                        <span>No MV Available.</span>
                    </div>
                </ons-list-item>
            </ons-list>
            <ons-list class="ons-list" ng-if="!isLoading && videos_new.length > 0">
                <ons-list-item modifier="tappable" class="list-music" ng-repeat="item in videos_new" ng-click="onMVPlaySelect(item);">
                    <ons-row>
                        <ons-col width="25px">
                            <div class="music-num">
                                {{ $index + 1 }}
                            </div>
                        </ons-col>
                        <ons-col width="85px">
                            <img ng-src="{{mvPath}}/{{item.album}}/{{item.thumb}}" class="list-mv-thum" ng-if="item.type==='video/mp4'"></img>
                            <img ng-src="http://img.youtube.com/vi/{{item.type}}/0.jpg" class="list-mv-thum-tube" ng-if="item.type!=='video/mp4'"></img>
                        </ons-col>
                        <ons-col>
                            <div class="music-title">
                                {{ item.title }}
                            </div>
                            <div class="music-desc">
                                {{ item.artist }}
                            </div>
                            <div class="music-album">
                                <i class="fa fa-qrcode live-color" style="font-size: 11px;"></i> {{ item.album }}
                                <span style="float: right;">
                                    <i class="fa fa-video-camera live-color" style="font-size: 11px; opacity: 0.7;"></i> {{ formatNumber(item.view) }}
                                </span>
                            </div>
                        </ons-col>
                        <ons-button modifier="quiet" class="button-action">
                            <i class="fa fa-play-circle-o live-color button-action-icon"></i>
                        </ons-button>
                    </ons-row>
                </ons-list-item>
            </ons-list>
        </div>
        <div ng-show="choice===3">
            <div class="section-header" style="margin-top: 15px;" ng-if="mvs.length > 0">
                Music Videos - Khmer MV
                <ons-button modifier="quiet" class="see-all" ng-click="onSeeAllMVClick('');">
                    See All <ons-icon icon="angle-right"></ons-icon>
                </ons-button>
            </div>
            <ons-list modifier="noborder" class="wrapper-album">
                <ons-list-item class="internal" ng-repeat="item in mvs | filter: 'release'" ng-click="onMVSelect(item);">
                    <img ng-src="{{mvPath}}/{{item.album}}/{{item.thumb}}" class="list-mv-album"></img>
                </ons-list-item>
            </ons-list>
            
            <div ng-repeat="pro in productions | filter: 'VCD'" ng-if="mvs.length > 0">
                <div class="section-header">
                    {{ pro.mv }} - Music Video
                    <ons-button modifier="quiet" class="see-all" ng-click="onSeeAllMVClick(pro.production);">
                        See All <ons-icon icon="angle-right"></ons-icon>
                    </ons-button>
                </div>
                <ons-list class="wrapper-album">
                    <ons-list-item class="internal" ng-repeat="item in mvs | filter: pro.mv" ng-click="onMVSelect(item);">
                        <img ng-src="{{mvPath}}/{{item.album}}/{{item.thumb}}" class="list-mv-album"></img>
                    </ons-list-item>
                </ons-list>
            </div>
        </div>
        
    </ons-page>
    
    