
<ons-modal var="modal">
    <i class="fa fa-spinner fa-spin fa-pulse" style="font-size: 28px;"></i>
    <br><br>
    Please wait ...
</ons-modal>

    <ons-page id="watch-page" ng-controller="NewsController" style="background: #28292a">
        <ons-toolbar class="toolbar" fixed-style="">
            <div class="center">
                News
            </div>
            <div class="left">
                <ons-toolbar-button ng-click="onProfileClick();">
                    <ons-icon icon="navicon" class="icon-color"></ons-icon>
                </ons-toolbar-button>
            </div>
            <div class="right">
                <ons-toolbar-button ng-click="onPlaylistClick();" disabled ng-if="!showPlayer">
                    <ons-icon icon="music" class="icon-color"></ons-icon>
                </ons-toolbar-button>
                <ons-toolbar-button ng-click="onPlaylistClick();" ng-if="showPlayer">
                    <ons-icon icon="music" class="icon-color"></ons-icon>
                </ons-toolbar-button>
            </div>
        </ons-toolbar>
        
            <div class="info" ng-if="isLoading">
                <img src="images/loading.gif" class="loading" />
            </div>
            <ons-list class="ons-list" ng-if="!isLoading">
                <ons-list-item ng-show="showNoItem">
                    <div class="info">
                        No Available News.
                    </div>
                </ons-list-item>
                <ons-list-item modifier="tappable" class="list-news" ng-repeat="item in news | limitTo: number_news" ng-click="onNewsSelect(item);">
                    <ons-row>
                        <ons-col width="35%">
                            <img ng-src="{{newsPath}}/thumb/{{item.media_url}}" class="news-thum"></img>
                        </ons-col>
                        <ons-col>
                            <div class="news-title">
                                {{ item.title }}
                            </div>
                            <div class="news-desc">
                                {{ item.content }}
                            </div>
                        </ons-col>
                    </ons-row>
                </ons-list-item>
            </ons-list>
        </div>

    </ons-page>
    
    