
<ons-modal var="modal">
    <i class="fa fa-spinner fa-spin fa-pulse" style="font-size: 28px;"></i>
    <br><br>
    Please wait ...
</ons-modal>

    <ons-page id="tv-page" ng-controller="TVController" style="background: #28292a">
        <ons-toolbar class="toolbar" fixed-style="">
            <div class="center">
                Khmer TV
            </div>
            <div class="left">
                <ons-toolbar-button ng-click="onProfileClick();">
                    <ons-icon icon="navicon" class="icon-color"></ons-icon>
                </ons-toolbar-button>
            </div>
            <div class="right">
                <ons-toolbar-button ng-click="onPlaylistClick();" disabled ng-if="!showPlayer">
                    <ons-icon icon="music" class="icon-color"></ons-icon>
                </ons-toolbar-button>
                <ons-toolbar-button ng-click="onPlaylistClick();" ng-if="showPlayer">
                    <ons-icon icon="music" class="icon-color"></ons-icon>
                </ons-toolbar-button>
            </div>
        </ons-toolbar>
        
        <div class="wrapper" style="margin-bottom: 5px;">
            <div class="container">
                <ul class="grid-na rig columns-5">
                    <li ng-repeat="item in musicOptions">
                        <ons-button modifier="quiet" ng-click="onOptionSelect(item, $index);" style="margin: -3px 0 -10px 0;">
                            <span ng-if="$index !== 3">
                                <ons-icon icon="{{item.icon}}" class="live-color icon-action"></ons-icon><br />
                            </span>
                            <span ng-if="$index === 3">
                                <span ng-if="!isDownloading">
                                    <ons-icon icon="{{item.icon}}" class="live-color icon-action"></ons-icon><br />
                                </span>
                                <span ng-if="isDownloading">
                                    <img src="images/loading.gif" style="width: 28px; margin-bottom: -8px;" /><br />
                                </span>
                            </span>
                            <span class="classify-item" style="width: 100%; text-align: center;">{{item.desc}}</span>
                        </ons-button>
                    </li>
        		</ul>
            </div>
        </div>
        
            <ons-list class="wrapper-album">
                <ons-list-item class="internal" ng-repeat="item in mvs | filter: 'release'" ng-click="onMVSelect(item);">
                    <img ng-src="{{mvPath}}/{{item.album}}/{{item.thumb}}" class="list-new-album"></img>
                </ons-list-item>
            </ons-list>
            <ons-list class="ons-list">
                <ons-list-item ng-show="showNoItem">
                    <div class="info">
                        No Available TV Channel.
                    </div>
                </ons-list-item>
                <ons-list-item modifier="tappable" class="list-item" ng-repeat="item in items | filter:{type: 'tv'} | filter:searchText" ng-click="onItemSelect(item);">
                    <ons-row>
                        <ons-col width="105px">
                            <img ng-src="{{thumbPath}}/{{item.thumb}}" class="list-item-thum"></img>
                        </ons-col>
                        <ons-col>
                            <div class="item-title">
                                {{ item.name }}
                            </div>
                            <div class="item-desc">
                                {{ item.name_kh }}
                            </div>
                            <div class="item-more">
                                {{ item.description }}
                            </div>
                        </ons-col>
                    </ons-row>
                </ons-list-item>
            </ons-list>
        </div>

    </ons-page>
    
    